body{
    background: black;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.cup{
    height: 200px;
    width: 250px;
    position: relative;
    background: purple;
    border-radius: 20% 20% 70% 70%;
    margin-top: 120px;
}
.cup::before{
    content: '';
    position: absolute;
    top: -30px;
    width: 220px;
    height: 70px;
    background: #6f4e37;
    border-radius: 50%;
    box-shadow: inset 20px 0px 15px red;
    border: 15px solid #f1f1f1;
}
.cup::after{
    content: '';
    position: absolute;
    right: -70px;
    top: 30px;
    width: 50px;
    height: 75px;
    border-radius: 50% 40% 120px 0;
    border: 18px solid purple;
}
.saucer{
    width: 270px;
    background: #9999ff;
    height: 50px;
    position: absolute;
    border-radius: 30% 30% 50% 50%;
    margin-top: 300px;
    z-index: -1;
}